<div class='user-add-com'>
  <input type="text" class="user-com-title" placeholder="Title"></input>
  <textarea class="user-com-body" rows="4" placeholder="Message"></textarea>
  <input type="submit" class='sub-com button-primary' data-art-id={{_id}}></input>
</div>