<div class='line'></div>
<h3>Users comments</h3>
{{#each comments}}
<div class="com-container">
  <div class="com-title">{{title}}</div>
  <div class="line"></div>
  <div class="com-body">{{body}}</div>
</div>
{{/each}}